.last-score-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  .last-score-container {
    font-size: 12px;
  }
}

.last-score-text {
  margin: 0;
}