body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 10vw;
  padding-right: 10vw;
  box-sizing: border-box; /* Ensures padding is within the width */
}

.filters div {
  padding: 0.2rem;
}

.filters label {
  margin-right: 0.5rem;
}

/* Main Table */
.mainTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.mainTable th, .mainTable td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

/* Alternating row colors for main table */
.mainTable tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.mainTable tbody tr:nth-child(even) {
  background-color: #e0e0e0;
}

/* Hover effect for main table rows, excluding rows with sub-tables */
.mainTable tbody tr:hover:not(.subTableContainer, .subTableHeader) {
  background-color: #c2c2c2;
}

/* Sub-table styling */
.mainTable .subTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.mainTable .subTable th, .mainTable .subTable td {
  padding: 6px;
  text-align: left;
  border: 1px solid #ccc;
}

/* Alternating row colors for sub-table */
.mainTable .subTable tbody tr:nth-child(odd) {
  background-color: #f4f4f4;
}

.mainTable .subTable tbody tr:nth-child(even) {
  background-color: #e9e9e9;
}

.mainTable .subTable tbody tr:hover {
  background-color: #dcdcdc;
}