.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90vh;
  overflow-y: auto;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-header button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modal-body table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.modal-body th,
.modal-body td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
}

.modal-body th {
  background-color: #FFD68A;
  position: sticky;
  top: 0;
  z-index: 2;
}

.modal-body tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.modal-body tbody tr:nth-child(even) {
  background-color: #e0e0e0;
}

.modal-body tbody tr {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.modal-body tbody tr:hover {
  background-color: rgb(254, 254, 224);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 767px) {
  .modal-body table {
    font-size: 12px;
  }

  .modal-body th,
  .modal-body td {
    padding: 5px;
    word-wrap: break-word;
  }
}